<div class="container ct">
  <div class="left ct">
    <button mat-button class="menu"> <img src= {{iconMenu}} alt="Menu" class="menuImg"> </button>
  </div>
  <div class="right ct">
    <button mat-button class="button ct">Entrar</button>
    <button mat-button class="button ct">Sobre</button>
  </div>
</div>

<div class="center ct">
  <span class="central ct">CONVERTE LIBRAS</span>
  <span class="menor ct">Um dicionário de sinais criado para a comunidade</span>

  <div class="input ct">
    <input matInput type="text" placeholder="Pesquise sinais.." id="sinais" class="inputText">
    <mat-icon matSuffix>search</mat-icon>
  </div>
</div>

